.hero_section {
  display: flex;
  min-height: 580px;

  background-image:
    linear-gradient(#0000008c, #0000008c),
    image-set(
      url("/images/mobile-1x.webp") 1x,
      url("/images/mobile-2x.webp") 2x
    );

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero_container {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 35px auto 24px;

  text-align: center;
}
.hero_title {
  padding: 155px 0 60px;
  font-weight: 800;
  font-size: 46px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color-text);
}

.hero_text_under {
  padding-bottom: 40px;

  font-weight: 400;
  font-size: 14px;
  color: var(--color-muted);
}
.hero_action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.hero_btn_book,
.hero_btn_learn {
  border-radius: 50px;
  padding: 12px 18px;
  width: 100%;
  max-width: 354px;
  height: 42px;

  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  color: var(--color-text);
}
.hero_btn_book {
  background-color: var(--color-accent-red);
}

.hero_btn_learn {
  background-color: #969696eb;
  color: black;
}

.hero_btn_book:hover,
.hero_btn_book:focus {
  background-color: var(--color-hover-red);
}
.hero_btn_learn:hover,
.hero_btn_learn:focus {
  background-color: #dddddd;
}

/* Tablet */

@media only screen and (min-width: 768px) {
  .hero_section {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
      image-set(
        url("/images/tablet-1x.webp") 1x,
        url("/images/tablet-2x.webp") 2x
      );
  }
}

/* Desktop */

@media only screen and (min-width: 1280px) {
  .hero_section {
    min-height: 100vh;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
      image-set(
        url("/images/desktop-1x.webp") 1x,
        url("/images/desktop-2x.webp") 2x
      );
  }
}
