/* Mobile first */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 100;

  padding: 14px 18px;
  width: 100%;
}
.nav {
  display: none;
}

.header_link {
}
.burger_button {
  display: flex;
  background: transparent;
}
.burger_button_img {
}
.open {
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: absolute;
  top: 68px;
  left: 0;

  width: 100%;
  padding: 24px;

  background-color: #c61e1e;
}
.logo {
  display: flex;
  align-items: center;
}
.logo_img {
  display: block;
  width: 100px;
  height: auto;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    gap: 32px;

    position: static;
    width: auto;
    padding: 0;
    background: transparent;
  }

  .burger_button {
    display: none;
  }
}

/* Decktop */
@media only screen and (min-width: 1280px) {
}
